@page "/"
@attribute [Authorize]
<PageTitle>Index</PageTitle>

<h1 style="text-align:center">Bienvenidos al Sistema de Registro Vehicular!</h1>

<img src="/assets/images/Card.png" style="white: 600px; height:600px; display:flex; display: block; margin: auto;" />
